/*-- fort-family is parient element in body and all other child elements inherit it*/
/*-- padding: 30px -- white space arout the page */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; remove, because set html font size*/
    line-height: 1.7;
    color: $color-grey-dark; 
    padding: 3rem; 
}

.heading-primary {
    color:$color-white;
    text-transform: uppercase;

    backface-visibility: hidden; 
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        
        animation-name: moveInLeft;  /*name of animation*/
        animation-duration: 1s;  /*time the animation should take*/
        animation-timing-function: ease-out;
        
        /*animation-iteration-count: 3;*/ /*animation happens 3 time*/
        /*animation-delay: 3s;*/ /*before animation starts to play will first wait 3 seconds */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out; /*all properties write in one line*/
    }
}

//  -webkit-background-clip: text; means backgound clips where is the text (text become green gradient) 
//  color: transparent is addintinal then we use -webkit-background clip, to see a color of text
//  transform: skewY(2deg) help text to change direction when we hover is. Besides need to write transition: all .2s;
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display:inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1); //Y vertial dirention X horizontal
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2); //shadow X,Y, blur, color with opacity
    }



}